<div class="container-fluid colorfooter">
	<footer class="py-3  colorfooter ">

		
	  <ul class="nav justify-content-center border-bottom pb-3 mb-3 ">
		<div class="d-flex my-2 mx-2">
			<a href="https://redeglobo.globo.com/"><img id="logofooter" src="/img/logonav.png" alt="logo-globo"></a>
		</div>
		<li class="nav-item"><a href="https://g1.globo.com/principios-editoriais-do-grupo-globo.html" class="nav-link px-3 text-white">principios editoriais</a></li>
		<li class="nav-item"><a href="https://privacidade.globo.com/privacy-policy/" class="nav-link px-3 text-white">política de privacidade</a></li>
		<li class="nav-item"><a href="https://minhaconta.globo.com" class="nav-link px-3 text-white">minha conta</a></li>
		<li class="nav-item"><a href="https://globoads.globo.com/" class="nav-link px-3 text-white">anuncie conosco</a></li>
		
	  </ul>
	  <p class="text-center text-white">&copy; Copyright 2000-2022 Globo Comunicação e Participações S.A.</p>
	</footer>
  </div>