<main class="container-fluid px-0 ">
	<div class="d-flex bakglobo-father ">
		<div class="backglobo">

		</div>
	</div>

	<div class="container">
		<div class="nav-scroller py-3 mb-2">
			<nav class="nav d-flex justify-content-between">
			  <a class="p-2 link-secondary" href="#">Domingo</a>
			  <a class="p-2 link-secondary" href="#">Segunda</a>
			  <a class="p-2 link-secondary" href="#">Terça</a>
			  <a class="p-2 link-secondary" href="#">Quarta</a>
			  <a class="p-2 link-secondary" href="#">Quinta</a>
			  <a class="p-2 link-secondary" href="#">Sexta</a>
			  <a class="p-2 link-secondary" href="#">Sábado</a>
			  
			</nav>
		</div>
	</div>
</main>